body {
    margin: 0;
    background: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
  
header {
    background-color: #333;
    width: 100%;
    padding: 1.5rem 0;
    color: white;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header label,
header select {
    margin-top: 1rem;
    font-size: 1rem;
}

select {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    margin-left: 0.5rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
}

#word-display {
    font-size: 1.3rem;
}

.input-div {
    height: 5rem;
}

#input-field {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 2rem;

}

#results {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.mots {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);
    padding: 2rem;
    margin-bottom: 2rem;
    width: auto ;  
    border-bottom: #333;
}

.typing{
    border: 3.5px solid #333;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);
    margin-bottom: 2rem;
    width: 95%;  
}

.separation{
    border:2px solid #333 ;
}